<main class="relative ">
    <div class="absolute top-0 bottom-0 left-0 right-0 min-h-screen -z-10">
        <img src="https://assets.nflxext.com/ffe/siteui/vlv3/dace47b4-a5cb-4368-80fe-c26f3e77d540/becb4b4a-fa87-47ab-b92b-aae2c1c6d6f7/SG-en-20231023-popsignuptwoweeks-perspective_alpha_website_small.jpg"
            alt="cover image " class="object-cover w-full h-full blur-md">
    </div>
    <header
        class="md:h-[68px] z-10 p-2 bg-[#30336b] sticky top-0 flex flex-col md:flex-row items-center justify-between px-10">
        <!-- Logo + navitems -->
        <div class="flex gap-5 text-2xl font-medium tracking-wider text-blue-400 md:text-3xl">
            FletNix
        </div>
        <div class="flex items-center gap-2">
            <form [formGroup]="searchForm" class="flex items-center justify-center gap-5 md:justify-end md:gap-10"
                (ngSubmit)="onSearchSubmit()">
                <input type="text" placeholder="Search" class="p-2 rounded-md  w-[250px]" formControlName="searchValue">
            </form>
            <select [(ngModel)]="filterValue" (change)="onFilterChange(filterValue)" class="p-2 rounded-md w-[100px]">
                <option value="" disabled selected>Filter</option>
                <option value="movie">Movie</option>
                <option value="tvshow">TV Show</option>
                <option value="all">All</option>
            </select>
        </div>
    </header>

    <section class="min-h-[80vh]">
        <div *ngIf="isLoading" class="flex flex-col gap-2 items-center justify-center w-full min-h-[80vh]">
            <img src="assets/loading.svg" alt="loading svg" class="w-[200px] h-[200px]">
            <p class="text-xl text-[#22a6b3] md:text-2xl">
                {{loadingMessage}}
            </p>
        </div>
        <div
            class="grid  grid-cols-1 mt-4 mb-4 md:grid-cols-2 gap-2 md:gap-4 lg:grid-cols-4 max-w-[90rem] mx-auto p-2 ">
            @for (item of movies; track movies._id) {
            <a [routerLink]="['/movie', item.title]">
                <div
                    class="p-2 border-2 rounded-2xl md:p-4  h-[200px] mb-2 glassmorphismCard hover:scale-105 transition-all delay-200 ease-in-out shadow-2xl ">
                    <p>
                        Type : {{ item.type }}
                    </p>
                    <h1>
                        {{ item.type }} Name :
                        <br>
                        <span class="font-mono">
                            {{ item.title }}
                        </span>
                    </h1>
                </div>
            </a>
            }
        </div>

    </section>
    <mat-paginator [length]="lengthItems" [pageSize]="15" [showFirstLastButtons]="true" [pageIndex]="currentPage"
        (page)="handlePage($event)">
    </mat-paginator>
</main>